.profile {
    border: 2px solid green;
    font-size: 30px;
    color: aliceblue;
    text-shadow: 3px 3px 3px #000;
    background-image:url(../../assets/1624503242_1-oir_mobi-p-krasivaya-priroda-utrom-priroda-krasivo-fo-2.jpg);
    
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 25px;
}

.profileHeader span {
    font-weight: bold;
}

.profileHeader button {
    margin: 0px 5px
}

.city {
    font-size: 25px;
    font-weight: bold;
    
    padding: 15px 0px;
}

.city span{
   
    font-size: 20px;
    font-weight: bold;
    
}
.temp {
    font-size: 35px;
    padding: 15px 0px;
}
.main {
    padding: 10px 0px;
    
}

.main img {
    width: 150px;
    height: 150px;
    background-color: rgba(255 , 255 ,255 , 0.2);
    border-radius: 12px;
    
}


.wind {
    padding: 15px 0px;
}

.other {
padding: 10px 0px;
font-size: 25px;
}